@import url("../../../node_modules/bootstrap/dist/css/bootstrap.min.css");

.p{
    overflow-wrap: break-word;
    text-align: center;
}
/* header start */
header.background{
    background-image: url("../images/headerwallpaper.png");
    /* background-color: #282c34; */
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

header.background .background-sub {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-style:italic;
}

header.background .background-heading {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 2rem;
}

header.background .mycolor{
    background-color: #61dafb;
    color:#fff;
}
header.background .mycolor:hover{
    background-color: #212529;
    color:#61dafb;
    border-radius: 15px;
    opacity: 85%;
    box-shadow: rgba(97, 218, 251, 1) 0px 20px 20px -6px;
    transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
}
/* ---------------------------------------- */
/* Header Slider start */

/* .my-first-slide{
    top:40%;
    left:30%;
    z-index: 1;
} */

.my-carousel-one{
    background-image: url("../images/Slider-services.jpg");
    /* background-color: #282c34; */
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center right 23%;
    background-size: cover;
}

.my-carousel-one .my-carousel-one-sub{
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-style:italic;
}

.my-carousel-one .my-carousel-one-heading {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 2rem;
}

.my-carousel-one .mycolor{
    background-color: #61dafb;
    color:#fff;
}
.my-carousel-one .mycolor:hover{
    background-color: #212529;
    color:#61dafb;
    border-radius: 15px;
    opacity: 85%;
    box-shadow: rgba(97, 218, 251, 1) 0px 20px 20px -6px;
    transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
}

.my-carousel-two{
    background-image: url("../images/ux_ecommerce.jpg");
    /* background-color: #282c34; */
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center right 15%;
    background-size: cover;
}

.my-carousel-two .my-carousel-two-sub{
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-style:italic;
}

.my-carousel-two .my-carousel-two-heading {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 2rem;
}

.my-carousel-two .mycolor{
    background-color: #61dafb;
    color:#fff;
}
.my-carousel-two .mycolor:hover{
    background-color: #212529;
    color:#61dafb;
    border-radius: 15px;
    opacity: 85%;
    box-shadow: rgba(97, 218, 251, 1) 0px 20px 20px -6px;
    transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
}


.my-carousel-three{
    background-image: url("../images/headerwallpaper.png");
    /* background-color: #282c34; */
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.my-carousel-three .my-carousel-three-sub{
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-style:italic;
}

.my-carousel-three .my-carousel-three-heading {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 2rem;
}

.my-carousel-three .mycolor{
    background-color: #61dafb;
    color:#fff;
}
.my-carousel-three .mycolor:hover{
    background-color: #212529;
    color:#61dafb;
    border-radius: 15px;
    opacity: 85%;
    box-shadow: rgba(97, 218, 251, 1) 0px 20px 20px -6px;
    transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
}


/* .my-first-slide-image{
    object-position: center center;
    object-fit:scale-down;
    
} */
.my-first-slide h2{
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 2rem;
}
.my-first-slide .fs-subheading{
    color:#fff;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-style:italic;
}

.sl-image{
    height: 100%;
    max-height: 1080px;
}

.my-first-slide .mycolor{
    background-color: #61dafb;
    color:#fff;
}
.my-first-slide .mycolor:hover{
    background-color: #212529;
    color:#61dafb;
    border-radius: 12px;
    opacity: 85%;
    box-shadow: rgba(97, 218, 251, 1) 0px 20px 20px -6px;
    transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
}
/* ---------------------------------------- */
/* navbar start */
#mainNavbar{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
}

#mainNavbar .navbar-brand{
    /* color: #61dafb; */
    color:#fff;
    font-weight: 700;
    letter-spacing: 0.043em;
}

#mainNavbar .navbar-nav .nav-item .nav-link{
    font-size: 1rem;
    color:#212529;
    font-weight: 600;
    letter-spacing: 0.05em;
}

#mainNavbar .navbar-nav .nav-item .nav-link.active,
#mainNavbar .navbar-nav .nav-item .nav-link:hover {
    color: #61dafb;
    background-color: transparent;
    box-shadow: rgba(97, 218, 251, 1) 0px 20px 20px -6px;
    border: 1px solid #61dafb;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
}

/* ---------------------------------------------- */
/* Services start */

.mySection{
    padding: 5rem 0;
}

.mySection h2.s-heading{
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.services h2.sheading{
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.services h3.s-subheading {
    font-size: 1rem;
    font-weight: 600;
    font-style: italic;
}

.mySection h3.s-subheading {
    font-size: 1rem;
    font-weight: 600;
    font-style: italic;
}

.mySection .mycolor{
    background-color: #61dafb;
    color:#fff;
}
.mySection .mycolor:hover{
    background-color: #212529;
    color:#61dafb;
    /* box-shadow: rgba(97, 218, 251, 1) 0px 30px 30px -6px; */
    box-shadow: rgba(97, 218, 251, 0.75) 0px 50px 100px -10px, rgba(97, 218, 251, 0.75) 0px 40px 60px -10px, rgba(97, 218, 251, 0.75) 0px -2px 6px 0px inset;
    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
}
/* ------------------------------------------------ */
/* Modal start */

#section-5 .p-item{
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(97, 218, 251, 1) -3px 15px 15px -3px;
}
/* #section-5 .p-item .p-itemhover {
    box-shadow: rgba(97, 218, 251, 1) 0px 20px 20px -6px;
} */

#section-5 .p-item .p-link {
    position: relative;
    display: block;
    margin: 0 auto;
}
#section-5 .p-item .p-link .p-hover {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(97, 218, 251, 0.75);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
    -webkit-transition: opacity ease-in-out 0.3s;
    -moz-transition: opacity ease-in-out 0.3s;
    -ms-transition: opacity ease-in-out 0.3s;
    -o-transition: opacity ease-in-out 0.3s;
}

#section-5 .p-item .p-link .p-hover .p-content {
    font-size: 6.3rem;
}

#section-5 .p-item .p-link:hover .p-hover{
    opacity: 1;
}

#section-5 .p-item .p-caption .pc-heading{
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: 700;
}

.p-modal .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
}

.p-modal .modal-content h2 {
    font-size: 3rem;
    line-height: 3rem;
}

.p-model .close-modal {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background-color: transparent;
}

.p-modal .close-modal:hover{
    opacity: 0.5;
}
/* .p-modal .modal-content .p-intro{
    margin-bottom: 2rem;
} */
/* #section-5 .p-item .p-caption .pc-subheading{
    font-style: italic;
} */
/* ------------------------------------------------ */
/* About page start */

.myaboutSection{
    background-image: url("../images/headerwallpaper.png");
    /* background-color: #282c34; */
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.myaboutSection .about-sub {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-style:italic;
}

.myaboutSection .about-heading {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 2rem;
}

.mySection .a-container{
 border-radius: 25px;
 box-shadow: rgba(97, 218, 251, 1) 0px 40px 70px -6px;
 background-color: #61dafb;
}

.mySection .a-image{
    border-radius: 32px;
}
.a-text{
 text-align: justify;
}
/* ---------------------- */
/* footer start */

#footer-area{
    background-image: url("../images/headerwallpaper.png");
    /* background-color: #282c34; */
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

#footer-area .mycolor{
    background-color: #61dafb;
}
#footer-area .footer-link{
    font-size: 1rem;
    color:#fff;
    letter-spacing: 0.06em;
    list-style-type: none;
    margin:0;
    padding: 0;
    
}

#footer-area .footer-link .footer-item.active,
#footer-area .footer-link .footer-item:hover {
    color: #61dafb;
}

#footer-area .footerbutton{
    color:#fff;
}

#footer-area .footerbutton:active,
#footer-area .footerbutton:hover{
    color: #61dafb;
    box-shadow: rgba(97, 218, 251, 1) 0px 20px 20px -6px;
    border-radius: 12px;
    transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
}
.mybrand{
    text-align: justify;
    color:#fff
}

#footer-area .footer-link .mylink{
    text-decoration: none;
}

#footer-area .btn-social{
    width: 2rem;
    height: 2rem;
    /* background-color: #61dafb; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

#footer-area .btn-social:hover{
    /* width: 2.3rem;
    height: 2.3rem; */
    /* background-color: #61dafb; */
    box-shadow: rgba(97, 218, 251, 1) 0px 8px 25px -2px;
    
    transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
}

/* -------------------------------- */
/* Contact Page Start */

#section-contact .card {
    background-color: #212529;
    border-radius: 25px;
    box-shadow: rgba(97, 218, 251, 1) 0px 40px 70px -6px;
}

#section-contact .card .myformbutton{
    background-color: #61dafb;
    color:#fff;
}

#section-contact .card .myformbutton:hover{
    background-color: #212529;
    color:#61dafb;
    border-radius: 12px;
    opacity: 85%;
    box-shadow: rgba(97, 218, 251, 1) 0px 20px 20px -6px;
    transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
}

#section-contact .btn-social{
    width: 2.5rem;
    height: 2.5rem;
    /* background-color: #61dafb; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

#section-contact .btn-social:hover{
    /* width: 2.3rem;
    height: 2.3rem; */
    /* background-color: #61dafb; */
    box-shadow: rgba(97, 218, 251, 1) 0px 8px 25px -2px;
    
    transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
}

#section-contact .card .devider{
    width: 100%;
    height: 4px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: #61dafb;
    border-radius: 15px;
    /* box-shadow: rgba(97, 218, 251, 1) 100px 40px 70px -6px; */
    box-shadow: rgba(97, 218, 251, 0.25) 0px 54px 55px, rgba(97, 218, 251, 0.12) 0px -12px 30px, rgba(97, 218, 251, 0.44) 0px 4px 6px, rgba(97, 218, 251, 0.17) 0px 12px 13px, rgba(97, 218, 251, 0.09) 0px -3px 5px;
}

#section-contact h2.f-heading{
    font-size: 1.55rem;
    margin-bottom: 0.75rem;
}

#section-contact h3.f-subheading{
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
}

#section-contact .my-form{
    border-radius: 12px;
}
#section-contact .my-form:focus{
    box-shadow: rgba(97, 218, 251, 0.75) 0px 15px 12px -6px;
    transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
}

 /* Whatsapp chat button */

.whatsapp_float {
    position: fixed;
    display: flex;
    width: 70px;
    height: 70px;
    bottom: 14px;
    left: 15px;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 1000;
}

.whatsapp_float:hover {
    box-shadow: rgba(97, 218, 251, 0.75) 0px 50px 100px -10px, rgba(97, 218, 251, 0.75) 0px 30px 60px -20px, rgba(97, 218, 251, 0.75) 0px -2px 6px 0px inset;
    transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
}

/* ---------------- */
/* ServicesPage start */
.overlay {
    background-color: rgba(97, 218, 251, 0.24);
    position: fixed;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    z-index: 5;
}

.overlay .modalContainer{    
    margin-top: 7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 100vw;
    border-radius: 15px;
    box-shadow: rgba(97, 218, 251, 0.75) 0px 50px 100px -10px, rgba(97, 218, 251, 0.75) 0px 30px 60px -20px, rgba(97, 218, 251, 0.75) 0px -2px 6px 0px inset;
}

.overlay .modalContainer .my-content{
    background-color: #212529;
    border-radius: 15px;
}

.overlay .modalContainer .my-content .modal-body{
    padding: 1.5rem;
}
.overlay .modalContainer .modal-content h2 {
    font-size: 3rem;
    line-height: 3rem;
    color:#fff;
}
.overlay .modal-content .modal-body .my-heading{
    font-size: 1.75rem;
    line-height: 1.55rem;
    color:#fff;
}

.overlay .modal-content .modal-body .my-sub{
    color:#fff;
    font-size: 1rem;
    line-height: 1.5rem;
    font-style: italic;
    margin-bottom: 0.5rem;
}
.overlay .modal-content .close-modal{
    position: absolute;
    top:1.5rem;
    right:2rem;
    width: 2rem;
    height: 2rem;
    cursor:pointer;
    background-color: transparent;
    color:#fff;
    font-size: 2rem;
}

.overlay .modal-content .close-modal:hover{
    color:#61dafb;
}

.overlay .mycolor:hover{
    background-color: #212529;
    color:#61dafb;
    border-radius: 12px;
    opacity: 85%;
    box-shadow: rgba(97, 218, 251, 1) 0px 20px 20px -6px;
    transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
}
/* .modalContainer{
    max-width: 600px;
    width: 100%;
    position: fixed;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #fff;
    box-shadow: 0px 0px 18px 0 px rgba(97, 218, 251, 0.75);
} */



/* .modalRight{
    width: 100%;
} */

/* .closeBtn {
    position: fixed;
    top: 8px;
    right: 8px;
} */

/* .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
    padding: 1rem 2rem;
} */

/* ---------------------- */
/* Services Page Start */

.services {
    padding-top: 5rem;
    padding-bottom: 9rem;
}

.services .nav {
    width: 100%;
    /* max-width: 300px; */
}

.services .nav .mycolor {
    background-color: transparent;
    color:#000;
}

.services .nav .nav-link .mycolor:active,
.services .nav .nav-link .mycolor:hover {
    background-color: #212529;
    color:#61dafb;
    border-radius: 12px;
    opacity: 85%;
    box-shadow: rgba(97, 218, 251, 1) 0px 20px 20px -6px;
    transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
}


#section-3 .p-item{
    /* max-width: 26rem;
    margin-left: auto;
    margin-right: auto; */
    border-radius: 25px;
    box-shadow: rgba(97, 218, 251, 1) -3px 15px 15px -3px;
}
/* #section-5 .p-item .p-itemhover {
    box-shadow: rgba(97, 218, 251, 1) 0px 20px 20px -6px;
} */

/* #section-5 .p-item .p-link {
    position: relative;
    display: block;
    margin: 0 auto;
}
#section-5 .p-item .p-link .p-hover {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(97, 218, 251, 0.75);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
    -webkit-transition: opacity ease-in-out 0.3s;
    -moz-transition: opacity ease-in-out 0.3s;
    -ms-transition: opacity ease-in-out 0.3s;
    -o-transition: opacity ease-in-out 0.3s;
} */

#section-3 .p-item .p-link .p-hover .p-content {
    font-size: 10rem;
}

#section-3 .p-item .p-link:hover .p-hover{
    opacity: 1;
}

#section-3 .p-item .p-link {
    position: relative;
    display: block;
    margin: 0 auto;
}
#section-3 .p-item .p-link .p-hover {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(97, 218, 251, 0.75);
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
    -webkit-transition: opacity ease-in-out 0.3s;
    -moz-transition: opacity ease-in-out 0.3s;
    -ms-transition: opacity ease-in-out 0.3s;
    -o-transition: opacity ease-in-out 0.3s;
}

.my-canvas{
    background-color: rgba(97, 218, 251, 0.24);
}

.top-header .top-header-nav .top-header-nav-item {
    list-style-type: none;
    color: #fff;
    text-decoration: none;
    /* position: relative; */
}
/* .top-header .top-header-nav .top-header-nav-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 1rem;
    background: #61dafb;
    -webkit-transition: 0.5s;
    transition: 0.5s;
} */

.top-header .top-header-nav .top-header-nav-item:hover,
.top-header .top-header-nav .top-header-nav-item:focus {
  color: #61dafb;
}

.top-header .top-header-right-nav .top-header-right-nav-item{
    list-style-type: none;
    color: #fff;
    text-decoration: none;
}

@media(max-width:991.98px) {
    .top-header{
        display: none;
    }
    header.background {
        padding-top: 11rem;
        padding-bottom: 13rem;
    }

    header.background .background-heading {
        font-size: 2rem;
        line-height: 2rem;
        
    }

    .my-carousel-one{
        padding-top: 11rem;
        padding-bottom: 13rem;
    }

    .my-carousel-one .my-carousel-one-sub{
        font-size: 1.30rem;
        line-height: 1.35rem;
    }
    
    .my-carousel-one .my-carousel-one-heading {
        font-size: 2rem;
        line-height: 2rem;
    }
    .my-carousel-two{
        padding-top: 11rem;
        padding-bottom: 13rem;
    }

    .my-carousel-two .my-carousel-two-sub{
        font-size: 1.30rem;
        line-height: 1.35rem;
    }

    .my-carousel-two .my-carousel-two-heading {
        font-size: 2rem;
        line-height: 2rem;
    }

    .my-carousel-three{
        padding-top: 11rem;
        padding-bottom: 13rem;
    }

    .my-carousel-three .my-carousel-three-sub{
        font-size: 1.30rem;
        line-height: 1.35rem;
    }

    .my-carousel-three .my-carousel-three-heading {
        font-size: 2rem;
        line-height: 2rem;
    }
    /* .my-first-slide{
        top:40%;
        left:18%;   
    } */

    .sl-image{
        margin-top: 6.3rem;
        min-height: 320px;
    }

    .my-first-slide h2{
        font-size: 2rem;
        line-height: 2rem;
    }
    .my-first-slide .fs-subheading{
        font-size: 1.25rem;
        line-height: 1.25rem;
    }

    .mySection h2.s-heading{
        font-size: 1.75rem;
        margin-bottom: 0.75rem;
    }
    
    .services {
        padding-top: 2rem;
        padding-bottom: 4rem;
    }
    /* .services .nav{
        width: 90%;
        max-width: 200px;
    } */
    .services h2.s-heading {
        font-size: 1.75rem;
        margin-bottom: 0.75rem;
    }

    #mainNavbar .navbar-nav .nav-item .nav-link{
        color:#212529;
        font-weight: 600;
        padding-left: 10px;
    }

    .myaboutSection {
        padding-top: 11rem;
        padding-bottom: 1rem;
    }

    .myaboutSection .about-heading {
        font-size: 2rem;
        line-height: 2rem;
    }

    .p-modal .modal-content h2 {
        font-size: 2rem;
        line-height: 2rem;
    }

    .p-model .close-modal {
        width: 2rem;
        height: 2rem;
    }

    #section-contact h2.f-heading{
        font-size: 1.45rem;
        margin-bottom: 0.75rem;
    }

    #section-contact h3.f-subheading{
        font-size: 1.05rem;
    }

    #section-contact .card .devider{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .whatsapp_float {
        width: 50px;
        height: 50px;
        bottom: 22px;
        left: 10px;
        font-size: 22px;
    }

    .overlay .modalContainer{ 
        margin:0;
        margin-top: 7rem;
    }
    
    .overlay .modal-content .close-modal{
        width: 1.65rem;
        height: 1.65rem;
        font-size: 1.25rem;
        right: 1rem;
    }

    .overlay .modal-content .modal-body .my-heading{
        font-size: 1.75rem;
        margin-bottom:0.75rem;
        line-height: 1.55rem;
    }

    .overlay .modal-content .modal-body .my-sub{
        font-size: 1rem;
        margin-bottom: 0.5rem;
        line-height: 1.45rem;
    }

    .myContainer{
        padding: 0 4rem;
    }
}
/* Medium to xlarge screen settings */
@media(min-width:992px) and (max-width:1199.98) {
    .myContainer{
        padding: 0 10rem;
    }
    header.background {
        padding-top: 15rem;
        padding-bottom: 15rem;
    }

    .my-carousel-one{
        padding-top: 15rem;
        padding-bottom: 15rem;
    }
    .my-carousel-two{
        padding-top: 15rem;
        padding-bottom: 15rem;
    }
    .my-carousel-three{
        padding-top: 15rem;
        padding-bottom: 15rem;
    }
    .myaboutSection{
        padding-top: 8rem;
        padding-bottom: 0.5rem;
    }

    #mainNavbar {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border: none;
        background-color: transparent;
        opacity: 96%;
        transition: background-color 0.5s ease;
        transition: padding-top 0.5s ease-in-out;
        -webkit-transition: padding-top 0.5s ease-in-out;
        -moz-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3 ease-in-out;
        -ms-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3 ease-in-out;
        -o-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3 ease-in-out;
    }

    #mainNavbar .navbar-brand {
        font-size: 1.5rem;
        background-color: transparent;
        transition: background-color 0.5s ease;
        transition: font-size 0.3s ease-in-out;
        -webkit-transition: font-size 0.3s ease-in-out;
        -moz-transition: font-size 0.3s ease-in-out;
        -ms-transition: font-size 0.3s ease-in-out;
        -o-transition: font-size 0.3s ease-in-out;
    }

    #mainNavbar .navbar-nav .nav-item{
        margin-right: 1rem;
    }

    #mainNavbar .navbar-nav .nav-item:last-child {
        margin-right: 0;
    }

/* Change Navbar body when scrooling down */

    #mainNavbar.navbar-mobile .navbar-brand {
        font-size: 1.20em;
    }

    #mainNavbar.navbar-mobile {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #212529;
    }

    .top-header{
        padding: 1.5rem 0;
        background-color: #15416e;
    }
}

/* Medium to xxlarge screen settings  */
@media(min-width:1200px) and (max-width:1599.98px) {
    .myContainer{
        padding: 0 16rem;
    }
    .mySection{
        padding: 3rem 0;
    }
    .mySection h2.s-heading{
        font-size: 1.95rem;
        margin-bottom: 0.5rem;
    }
    .top-header{
        padding: 0.55rem 0;
        background-color: #15416e;
    }
    .myForm{
        margin-bottom: 1rem;
    }
    .mySection .myContainer .card .myformheader{
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
        font-size: 1.65rem;
    }
    .myfooter{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .myfooterheader{
        font-size: 1.5rem;
    }
    .footerbutton{
        padding: 0.25rem 0.5rem;
    }
    .mybrand{
        font-size: 0.95rem;
    }
    .p-caption{
        padding:0.75rem;
    }

    #section-5 .p-item .p-caption .pc-heading{
        font-size: 1.15rem;
    }

    header.background {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .my-carousel-one{
        padding-top: 15rem;
        padding-bottom: 15rem;
        max-height: 550px;
    }
    .my-carousel-two{
        padding-top: 15rem;
        padding-bottom: 15rem;
        max-height: 550px;
    }
    .my-carousel-three{
        padding-top: 15rem;
        padding-bottom: 15rem;
        max-height: 550px;
    }
    .myaboutSection{
        padding-top: 8rem;
        padding-bottom: 0.5rem;
    }

    #mainNavbar {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border: none;
        margin-top: 2.55rem;
        background-color: #fff;
        transition: background-color 0.5s ease;
        transition: padding-top 0.5s ease-in-out;
        -webkit-transition: padding-top 0.5s ease-in-out;
        -moz-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3 ease-in-out;
        -ms-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3 ease-in-out;
        -o-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3 ease-in-out;
    }

    #mainNavbar .navbar-brand {
        font-size: 1.5rem;
        background-color: transparent;
        transition: background-color 0.5s ease;
        transition: font-size 0.3s ease-in-out;
        -webkit-transition: font-size 0.3s ease-in-out;
        -moz-transition: font-size 0.3s ease-in-out;
        -ms-transition: font-size 0.3s ease-in-out;
        -o-transition: font-size 0.3s ease-in-out;
    }

    #mainNavbar .navbar-nav .nav-item{
        margin-right: 1rem;
    }

    #mainNavbar .navbar-nav .nav-item:last-child {
        margin-right: 0;
    }

/* Change Navbar body when scrooling down */

    #mainNavbar.navbar-mobile .navbar-brand {
        font-size: 1.20em;
    }

    #mainNavbar.navbar-mobile {
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        background-color: #fff;
        margin-top:0;
        transition: all 0.3s ease;
    }

}
@media(min-width:1600px) {
    
    .top-header{
        padding: 1rem 0;
    }
    .myForm{
        margin-bottom: 3rem;
    }
    .myfooter{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    header.background {
        padding-top: 15rem;
        padding-bottom: 15rem;
    }

    .p-caption{
        padding:1.5rem;
    }

    .my-carousel-one{
        padding-top: 15rem;
        padding-bottom: 15rem;
    }
    .my-carousel-two{
        padding-top: 15rem;
        padding-bottom: 15rem;
    }
    .my-carousel-three{
        padding-top: 15rem;
        padding-bottom: 15rem;
    }
    .myaboutSection{
        padding-top: 8rem;
        padding-bottom: 0.5rem;
    }

    #mainNavbar {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border: none;
        background-color: transparent;
        opacity: 96%;
        transition: background-color 0.5s ease;
        transition: padding-top 0.5s ease-in-out;
        -webkit-transition: padding-top 0.5s ease-in-out;
        -moz-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3 ease-in-out;
        -ms-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3 ease-in-out;
        -o-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3 ease-in-out;
    }

    #mainNavbar .navbar-brand {
        font-size: 1.5rem;
        background-color: transparent;
        transition: background-color 0.5s ease;
        transition: font-size 0.3s ease-in-out;
        -webkit-transition: font-size 0.3s ease-in-out;
        -moz-transition: font-size 0.3s ease-in-out;
        -ms-transition: font-size 0.3s ease-in-out;
        -o-transition: font-size 0.3s ease-in-out;
    }

    #mainNavbar .navbar-nav .nav-item{
        margin-right: 1rem;
    }

    #mainNavbar .navbar-nav .nav-item:last-child {
        margin-right: 0;
    }

/* Change Navbar body when scrooling down */

    #mainNavbar.navbar-mobile .navbar-brand {
        font-size: 1.20em;
    }

    #mainNavbar.navbar-mobile {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #212529;
    }

/* -------------------------------------------- */

    
}
