@import url("../../../node_modules/bootstrap/dist/css/bootstrap.min.css");

.p{
    overflow-wrap: break-word;
    text-align: center;
}
/* header start */
header.background{
    background-image: url("../images/headerwallpaper.png");
    /* background-color: #282c34; */
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

header.background .background-sub {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-style:italic;
}

header.background .background-heading {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 2rem;
}

header.background .mycolor{
    background-color: #61dafb;
    color:#fff;
}
header.background .mycolor:hover{
    background-color: #212529;
    color:#61dafb;
    box-shadow: rgba(97, 218, 251, 1) 0px 20px 20px -6px;
    transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
}
/* ---------------------------------------- */
/* navbar start */
#mainNavbar{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
}

#mainNavbar .navbar-brand{
    /* color: #61dafb; */
    color:#fff;
    font-weight: 700;
    letter-spacing: 0.043em;
}

#mainNavbar .navbar-nav .nav-item .nav-link{
    font-size: 1rem;
    color:#fff;
    letter-spacing: 0.06em;
}

#mainNavbar .navbar-nav .nav-item .nav-link.active,
#mainNavbar .navbar-nav .nav-item .nav-link:hover {
    color: #61dafb;
    box-shadow: rgba(97, 218, 251, 1) 0px 20px 20px -6px;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
}

/* ---------------------------------------------- */
/* Services start */

.mySection{
    padding: 5rem 0;
}

.mySection h2.s-heading{
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.mySection h3.s-subheading {
    font-size: 1rem;
    font-weight: 600;
    font-style: italic;
}

.mySection .mycolor{
    background-color: #61dafb;
}
/* ------------------------------------------------ */
/* About page start */

.myaboutSection{
    background-image: url("../images/headerwallpaper.png");
    /* background-color: #282c34; */
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.myaboutSection .about-sub {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-style:italic;
}

.myaboutSection .about-heading {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 2rem;
}

.mySection .a-container{
 border-radius: 25px;
 box-shadow: rgba(97, 218, 251, 1) 0px 40px 70px -6px;
 background-color: #61dafb;
}

.mySection .a-image{
    border-radius: 32px;
}
.a-text{
 text-align: justify;
}
/* ---------------------- */
/* footer start */

#footer-area{
    background-image: url("../images/headerwallpaper.png");
    /* background-color: #282c34; */
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

#footer-area .mycolor{
    background-color: #61dafb;
}
#footer-area .footer-link{
    font-size: 1rem;
    color:#fff;
    letter-spacing: 0.06em;
    list-style-type: none;
    margin:0;
    padding: 0;
    
}

#footer-area .footer-link .footer-item.active,
#footer-area .footer-link .footer-item:hover {
    color: #61dafb;
}

.mybrand{
    font-style: italic;
    text-align: justify;
    color:#fff
}

#footer-area .footer-link .mylink{
    text-decoration: none;
}

#footer-area .btn-social{
    width: 2rem;
    height: 2rem;
    /* background-color: #61dafb; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

#footer-area .btn-social:hover{
    /* width: 2.3rem;
    height: 2.3rem; */
    /* background-color: #61dafb; */
    box-shadow: rgba(97, 218, 251, 1) 0px 8px 25px -2px;
    
    transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
}

@media(max-width:991.98px) {
    header.background {
        padding-top: 11rem;
        padding-bottom: 13rem;
    }

    header.background .background-heading {
        font-size: 2rem;
        line-height: 2rem;
        
    }

    #mainNavbar .navbar-nav .nav-item .nav-link{
        color:#212529;

    }

    .myaboutSection {
        padding-top: 11rem;
        padding-bottom: 13rem;
    }

    .myaboutSection .about-heading {
        font-size: 2rem;
        line-height: 2rem;
    }
}

@media(min-width:992px) {
    header.background {
        padding-top: 15rem;
        padding-bottom: 15rem;
    }

    .myaboutSection{
        padding-top: 15rem;
        padding-bottom: 15rem;
    }

    #mainNavbar {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border: none;
        background-color: transparent;
        opacity: 96%;
        transition: background-color 0.5s ease;
        transition: padding-top 0.5s ease-in-out;
        -webkit-transition: padding-top 0.5s ease-in-out;
        -moz-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3 ease-in-out;
        -ms-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3 ease-in-out;
        -o-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3 ease-in-out;
    }

    #mainNavbar .navbar-brand {
        font-size: 1.5rem;
        background-color: transparent;
        transition: background-color 0.5s ease;
        transition: font-size 0.3s ease-in-out;
        -webkit-transition: font-size 0.3s ease-in-out;
        -moz-transition: font-size 0.3s ease-in-out;
        -ms-transition: font-size 0.3s ease-in-out;
        -o-transition: font-size 0.3s ease-in-out;
    }

    #mainNavbar .navbar-nav .nav-item{
        margin-right: 1rem;
    }

    #mainNavbar .navbar-nav .nav-item:last-child {
        margin-right: 0;
    }

/* Change Navbar body when scrooling down */

    #mainNavbar.navbar-mobile .navbar-brand {
        font-size: 1.20em;
    }

    #mainNavbar.navbar-mobile {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #212529;
    }

/* -------------------------------------------- */

    
}
